<!-- 星アイコン -->
<div class="relative z-10">
  <div class="absolute top-2 left-2">
    <div id="bookmark-button-for-column-<%= column.id %>">
      <% if current_user.column_bookmark?(column) %>
        <%= render 'bookmarks/column_unbookmark', column: column %>
      <% else %>
        <%= render 'bookmarks/column_bookmark', column: column %>
      <% end %>
    </div>
  </div>
</div>
