<footer class="text-zinc-800 py-8 px-6 bg-transparent">
  <div class="absolute inset-0 z-0">
  </div>

  <ul class="relative z-10 flex flex-col md:flex-row justify-center items-center space-y-4 md:space-y-0 md:space-x-10 text-sm">
    <li class="hover:text-red-400 text-white">トップページ</li>
    <li class="hover:text-red-400 text-white">Noshiruについて</li>
    <li class="hover:text-red-400 text-white">お知らせ</li>
    <li class="hover:text-red-400 text-white">コラム</li>
    <li class="hover:text-red-400 text-white">サイトポリシー</li>
    <li class="hover:text-red-400 text-white">プライドポリシー</li>
    <li class="hover:text-red-400 text-white">参考文献</li>
    <li class="hover:text-red-400 text-white">お問い合わせ</li>
  </ul>
  <p class="text-center mt-10 text-white">© 2025 Noshiru</p>
</footer>
