<header class="top-0 left-0 w-full z-40 bg-white">
  <div class="flex items-center justify-between w-full px-4">

    <!-- 左側：ロゴとキャッチコピー -->
    <div class="flex flex-col">
      <div class="mb-2">
        <%= link_to root_path do %>
          <%= image_tag 'ロゴ.png', class: "sm:w-40 md:w-[200px] h-auto object-contain" %>
        <% end %>
      </div>
    </div>

    <!-- 中央：リンク集（中画面以上で表示） -->
    <div class="hidden md:flex space-x-6 text-zinc-800 text-2xl text-center">
      <p class="hover:underline">Noshiruについて</p>
      <p class="hover:underline">コラム</p>
      <p class="hover:underline">熨斗紙テンプレート</p>
    </div>

    <div class="flex items-center justify-end space-x-4 text-red-500 text-5xl">
      <!-- 右側：矢印アイコン -->
      <button class="hover:scale-105 w-20 h-20 md:w-30 md:h-30">
        <%= image_tag 'ログイン.png' %>
      </button>

      <div class="md:hidden">
        <!-- 右側：メニューアイコン（三本線） -->
        <button class="focus:outline-none w-15 h-15">
          <%= image_tag 'ハンバーガーメニュー.png' %>
        </button>
      </div>
    </div>
  </div>
</header>
<div class="bg-gradient-to-b from-white via-zinc-100 to-transparent h-10 w-full"></div>
