<div class="flex items-center justify-center">
  <iframe class="max-w-4xl" src="https://docs.google.com/forms/d/e/1FAIpQLSeeErQ_9YPkSPK_o8UMsqHj2uMM8Xh7c80q9p3PghzS3w_0Uw/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
</div>