<div class="text-center px-4 bg-transparent text-2xl pb-6">
  <p>検索結果: <%= @noshis.count %>件</p>
</div>

<!-- 検索結果表示 -->
<div class="max-w-5xl mx-auto px-4 bg-transparent">
  <% if @noshis.present? %>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 space-y-6">
      <% @noshis.each do |noshi| %>
        <div id="noshi-id-<%= noshi.id %>" class="shadow rounded overflow-hidden w-full">
          <div class="flex flex-col">
            <div class="p-6 flex flex-col justify-start space-y-10 text-zinc-800">
              <div class="text-3xl">
                <%= link_to noshi.label, noshi_path(noshi), class: "hover:underline inline-block relative z-10 " %>
              </div>
            </div>
            <div class="w-full">
              <%= image_tag noshi.image, class: "w-full h-auto object-cover" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="text-zinc-800">検索条件を見直してください。</div>
  <% end %>
</div>