<div class="flex flex-col mt-5">
  <p class="text-white text-3xl mt-5 text-center">お探しのページは<br>現在表示できません。</p>
  <div class="mt-10 h-auto w-full"><%= image_tag '404_Not_Found.png' %></div>
  <div class="w-full border border-4 border-white"></div>
</div>