<div class="flex flex-col mt-5">
  <h1 class="font-bold text-8xl text-white text-center">404</h1>
  <p class="text-white text-4xl text-center">Not Found</p>
  <p class="text-white text-3xl mt-5 text-center">お探しのページは<br>見つかりません。</p>
  <div class="mt-10 h-auto w-full"><%= image_tag 'error.png' %></div>
  <div class="w-full border border-8 border-white"></div>
</div>
