<!-- 星アイコン -->
<div class="relative z-10">
  <div class="absolute top-2 left-2">
    <div id="bookmark-button-for-noshi-<%= noshi.id %>">
      <% if current_user.noshi_bookmark?(noshi) %>
        <%= render 'noshi_bookmarks/noshi_unbookmark', noshi: noshi %>
      <% else %>
        <%= render 'noshi_bookmarks/noshi_bookmark', noshi: noshi %>
      <% end %>
    </div>
  </div>
</div>
